$input-caption-blue: #4b6ae7;
$follow-button-color: #3659e3;
$follow-button-border-radius: 5px;


body {
    font-family: 'Helvetica';

    > * {
        min-width: 1080px;
    }
}

input {
    border-radius: 3px;
}

.button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    border: 2px #a9a8b3 solid;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}

.icons {
    display: flex;
    width: 65px;
    margin-left: 22px;
    justify-content: space-between;
}

.share-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.heart-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.splash-grey-background {
    background: #f8f7fa;
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 600px;
    transform: skew(0deg, -3deg);
    z-index: -1;
}
