$counter-size: 13px;
$counter-color: #3a3650;
$border-style: 2px solid #dbdae3;

.event-container {
    width: 800px;
    margin: auto;
    padding-top: 42px;
    font-family: Helvetica;
}

.event-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 110px;
    margin-bottom: 50px;
}

.event-form {
    h1 {
        font-size: 27px;
        font-weight: bold;
    } 
    span {
        text-align: right;
        margin-top: -5px;
        font-size: $counter-size;
        color: #413d56;
    }
    p {
        font-size: 14px;
        color: #39364F;
        line-height: 20px;
        width: 70%;
        margin-bottom: 15px;
    }
    input {
        width: 97%;
        height: 35px;
        margin: 10px 0px;
        padding-left: 15px;
        font-size: 13px;
        border: $border-style;
        outline: none;
        transition: border .2s;
    }
    input[placeholder="Add keywords to your event"] {
        width: 349px;
        margin-right: 15px;
    }
    input[placeholder="Search for Address"] {
        height: 43px;
    }
    input[type="date"] {
        height: 43px;
    }
    input:focus {
        border: 2px solid #1f45e0;
    }
    select {
        -webkit-appearance: none;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        width: 170px;
        height: 46px;
        margin: 10px 15px 10px 0px;
        padding-left: 15px;
        font-size: 13px;
        background-color: white;
        border: 1px solid #dbdae3;
    }
    .icon {
        width: 50px;
    }
    .section-head {
        position: relative;
        right: 73px;
    }
    .section-head {
        h1  {
            margin-left: 22px;
        }
        img {
            position: relative;
            top: 10px;
        }
    }
}

.date-time {
    display: inline-block;
    input {
        float: left;
        width: 48%;
    }
    select {
        width: 48%;
        float: right;
    }

    > span {
        display: flex;
        justify-content: space-between;
    }
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
  color: #aeadb7;
  opacity: 1; /* Firefox */
}

/* to display contained elements horizontally */
.flex {
    display: flex;
    align-items: center;
}

.input-caption {
    position: relative;
    top: 16px;
    left: 2px;
    font-size: 12px;
    height: 0;
    z-index: 1;
    padding-left: 15px;
    margin-bottom: -2px;
    color: #727589;

    /* messaged inputs */
    + input {
    padding-top: 10px;
}

}

hr {
    border: 1px #eeedf2 solid;
    margin: 30px auto; 
}

h1 + p {
    margin-bottom: 10px;
}

.tag-button {
    display: inline-block;
    background-color: #f8f7fa;
    padding: 8px 12px;
    border-radius: 18px;
    margin-right: 15px;
    margin: 5px 15px 5px 0px;
    font-size: 13px;
    
    img {
        width: 12px;
        cursor: pointer;
        position: relative;
        top: 1px;
        margin-left: 10px;
    }
}

.tag-counts {
    justify-content: space-between;
    width: 365px;
    height: 4px;
    position: relative;
    left: 2px;
    margin-bottom: 20px;
    font-size: $counter-size;
    color: #413356;
}

.address-inputs {
    // border: 1px red solid;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    input {
        width: 45%;
    }
}

.submit-bar {
    display: flex;
    background-color: #FFFFFF;
    border-top: 1px #eeedf2 solid;
    padding: 15px;
    justify-content: center;
    position: fixed;
    width: 119%;
    bottom: 0;

    button {
        margin-left: 15px;
        position: relative;
        left: 250px;
    }

    button + button {
        background-color: #d1410b;
        color: #FFFFFF;
        border: none;
        width: 150px;
    }
}

#venueNameInput {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.price-input {
    position: relative;

    p {
        position: absolute;
        top: 19px;
        left: 2px;
        z-index: -1;
    }

    input {
        background: transparent;
    }

}