.favorites-container {
    padding: 104px 0px 0px 50px;

    .index-row {
        width: 60%;
    }

    .favorites-header {
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 30px;
    }
}