$description-card-color: #f2eef1;
$description-card-padding-left: 33px;
$description-card-creator-color: #6f7287;
$follow-button-color: #3659e3;
$follow-button-border-radius: 5px;

.banner {
    filter: blur(8px);
    background: black;
    -webkit-filter: blur(15px);
    z-index: -1;
}

.event-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica;
}

.event-show {
    h3 {
        font-size: 18px;
        font-weight: none;
    }
}

.event-show-card {
    > div {
        display: flex;
        max-width: 1080px;
        width: 90%;
    }
}

.event-preview {
    margin: auto;
    height: 360px;
    margin-top: -460px;
}

.description-and-location {
    margin: auto;
    padding-top: 50px;
    background-color: #FFFFFF;
}

.event-description {
    p {
        color: #6f7287;
    }
}

.event-display {
    width: 90%;
    height: 900px;
    background-color: white;
    position: absolute;
    top: 102px;
    max-width: 1080px;
}

.hero-image {
    width: 66%;
    background-color: black;
    height: 360px;
    z-index: 1;
}

.description-card {
    display: flex;
    flex-direction: column;
    width: 34%;
    background-color: $description-card-color;
    height: 360px;
    z-index: 1;
}

.description-card-head {
    display: flex;
    flex-direction: column;
    height: 70%;   
    justify-content: center;
    padding-left: $description-card-padding-left;
}

.description-card-head {
    > span:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 35px;
    }

    > span:nth-of-type(2) {
        font-size: 20px;
    }
    > span:nth-of-type(3) {
        color: $description-card-creator-color;
        display: flex;
        font-size: 16px;
        margin-top: 20px;
        align-items: center;
        position: relative;
    }
}

.description-card-price {
    padding-left: $description-card-padding-left;
    position: relative;
    top: 65px;
    color: #4a465e;
    font-size: 15px;
}

.follow-button {
    border: 2px $follow-button-color solid;
    border-radius: $follow-button-border-radius;
    color: $follow-button-color;
    width: 60px;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.icons {
    display: flex;
    width: 65px;
    margin-left: 22px;
    justify-content: space-between;
}

.share-icon {
    width: 22px;
    height: 22px;
}

.heart-icon {
    width: 22px;
    height: 22px;
}


.description-and-location {
    display: flex;
    justify-content: space-between;

    .event-description {
        width: 66%;
        padding-left: 105px;
        padding-right: 60px;
    }    
    .event-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 34%;
        height: 300px;

        h3 {
            color: #2e1b4a;
        }
    }
}

.grey-background {
    background-color: #f8f7fa;
}

.event-tags-div {
    margin: auto;
    height: 360px;
    background-color: #FFFFFF;
    
    div {
        padding-left: 105px;
    }

    .tags {
        display: inline-block;
        margin-top: 40px;
    }

    .show-tag {
        font-weight: bold;
        background: none;
        padding: 7px;
        border-radius: 20px;
        margin-right: 5px;
    }   
}

