$panel-color: #f8f7fa;
$red: 1px red solid;

.dashboard-panel {
    height: 150vh; 
    min-width: 288px;
    width: 15%;
    background-color: $panel-color;
    float: left;

    a {
        cursor: pointer;
        display: inline-block;
        color: #6f7287;
    }

    div {
        width: 246px;
        font-size: 14px;
        height: 20px;
        display: flex;
        align-items: center;
    }

    > * {
        padding: 20px;
    }

    .dashboard-section {
        display: flex;
        flex-direction: column;
        width: 238px;
        height: 110px;
        padding: 24px;
        font-size: 14px;
        
        
        span {
            display: inline-block;
            padding-top: 10px;
        }

        h3 {
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }

        span:nth-of-type(2) {
            color: #39364f;
        }

        a {
            color: #375ae3;
        }

        a:hover {
            text-decoration: underline; 
        }
    }
}

.check-bar {
    > * {
        margin-right: 10px;
    }

    img {
        height: 20px;
        width: 20px;
        border-radius: 40px;
        border: 1px black solid;
        background: black;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    width: 75%;
}

.details-image {
    width: 30%;
}

.details {
    width: 50%;
    margin: auto;

    textarea {
        margin-top: 20px;
        width: 80%;
        font-size: 14px;
        height: 190px; 
        font-family: Helvetica;  
        line-height: 20px;
        color: #4b485f;
        padding: 20px;
    }

    .image-upload-div {
        margin-left: 60px;
        margin-top: 20px;
        height: 200px;
        background: #f8f7fa;
        position: relative;
        display: flex;

        img {
            position: absolute;
            left: 240px;
            top: 70px;
            width: 10%;
        }
    }

    input[type="file"] {
        margin-left: 68px;
        height: 200px;
        outline: none;
        border: none;
        width: 80%;
        cursor: pointer;
        position: absolute;
        opacity: 0;   
    }

    .file-input-text {
        position: absolute;
        top: 130px;
        left: 90px;

        h2 {
            font-size: 18px;
        }

        p {
            color: #7b7d91;
        }
    }
}

// dashboard
.dashboard-home {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 40px;
    padding-top: 20px;
    margin: auto;

    h1 {
        font-size: 25px;
        font-weight: bold;
    }

    > * {
        margin-top: 15px;
    }
}

.dashboard-search {
    display: flex;
    justify-content: align-items;
    border-radius: 0;
    border: .1px #dbdae2 solid;
    width: 40%;
    padding: 5px;

    img {
        width: 15px;
        padding: 0px 10px;
    }

    input, select {
        font-size: 14px;
        padding: 5px;
        width: 100%;
        height: 20px;
        cursor: text;
        background: transparent;
        outline: none;
        border: none;
    }

    select {
        height: 44px;
    } 
}


.dashboard-index-head {
    display: flex;
    align-items: center;
}

.dashboard-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    // padding-bottom: 15px;
    padding: 0px 20px 15px 20px;
    border-bottom: 2px #f5f4f7 solid;
    
    .dashboard-row-img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    span:nth-of-type(1) {
        display: flex;
        // align-items: center;
        justify-content: space-between;

        img {
            margin: 0 15px;
        }
    }

    // venue name and time
    span:nth-of-type(1) span {
        display: flex;
        flex-direction: column;
    }

    .row-date {
        display: flex;
        flex-direction: column;
        height: 15px;

        span:nth-of-type(1) {
            color: #f0583d;
            margin-top: 10px;
        }

        > span:nth-of-type(1) > * {
            margin-right: 10px;
        }

        span:nth-of-type(2) {
            text-align: center;
            font-size: 18px;
        }
    }
}

.dashboard-row-details {
    span:nth-of-type(1) {
        font-weight: bold;
        padding-bottom: 4px;
    }
}

.dashboard-index-head {
    // width: 500px;
    width: 100%;
    height: 50px;
    background-color: #f8f7fa;

    span:nth-of-type(1) {
        margin-left: 20px;
        font-size: 14px;
        color: #74778c;
        font-weight: bold;
    }
}

.dashboard-picture {
    width: 100%;
}

.details-image-container {
    position: relative;
    left: 58px;
    top: 15px;
}

.details-image-overlay {
    position: absolute;
    // text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    cursor: pointer;

    img {
        background: white;
        position: absolute;
        top: 140px;
        left: 260px;
        width: 30px;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
    }
}

.details-image-overlay:hover {
    background: rgba(0, 0, 0, 0.5);
}