// html, body, #root {
//     overflow: auto;
// }

.event-index {
    margin: auto;
    // width: 100%;
    padding-top: 15px;
    padding-left: 50px;
    display: flex;
}

.event-index-main {
    width: 65%;
}

.event-index-map {
    padding-top: 180px;
}

.index-rows-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    // float: left;
    padding: 10px;
}

#google-map {
    position: sticky !important;
    height: 400px;
    overflow: hidden;
    top: 0px;
    right: 0;
    width: 400px;
}

.index-row {
    display: flex;
    font-size: 12px;
    color: #848698;
    margin-bottom: 40px;
    letter-spacing: .2px;
    padding: 20px;
    border-radius: 5px;
    
    .index-row-img-container {
        position: relative;
    }

    .index-row-img {
        width: 235px;
        height: 115px;
        border-radius: 5px;
        cursor: pointer;
    }

    h2 {
        color: #39364f;
        font-size: 20px;
        cursor: pointer;
    }

    .heart-icon {
        height: 21px;
        width: 21px;
        padding: 12px;
        border-radius: 30px;
        transition: background .3s;
    }

    .heart-icon:hover {
        background: #f8f7fa;
    }

    .index-row-like {
        position: relative;

        img {
            position: absolute;
            bottom: 0px;
        }
    }
}

.index-row:hover {
    box-shadow: -2px 3px 10px #d9d9d9;
    transition: box-shadow .4s;
}

.index-row-main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 40px 0px 30px;
}

.index-row-details {
    display: flex;
    flex-direction: column;
    
    > * {
        margin-bottom: 5px;
    }
}

.index-search-location {
    display: flex;

    :focus {
        outline:none;
    }

    p {
        font-weight: bold;
        font-size: 26px;
        color: #c2c2cc;
    }

    //input container for location search
    > div {
        padding-left: 10px;
        position: relative;
        bottom: 4px;
    }
}

// make location search input appear uneditable 
.index-search-location-input {
    cursor: default;
}

// effect for removing blinking cursor on input focus
.index-search-location-input:focus {
    color: transparent;
    text-shadow: 0px 0px 0px #000000;
}

.index-search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;

    input {
        font-size: 32px;
        border: none;
        outline: none;
        font-weight: bold;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        text-decoration: underline;
    }

    input[placeholder="New York"]::-webkit-input-placeholder {
        color: black;
        text-decoration-color: #a9a8b3;
    }

    input:focus::-webkit-input-placeholder {
        color: #a9a8b3;
        text-decoration: none;
    }
}

.index-search-input-container {
    position: relative;

    .index-search-suggestions {
        position: absolute;
    }
}

.index-search-section {
    display: flex;
}

.index-search-button-div {
    position: relative;

    .index-search-button {
        position: absolute;
        bottom: 0px;
        left: 25px;
        background: #d1410b;
        color: white;
        border: none;
    }
}

.index-filter {
    display: flex;
    padding: 25px 0px;
    
    > * {
        margin-right: 15px;
    }
    
    .styled-select {
        width: 95px;
        height: 30px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        background: #f8f7fa;
        transition: all .5s;
    }

    .styled-select-container .styled-select:hover {
        background: #e4e0eb;
        border: none;
    }

    .styled-select-container img {
        right: 7px;
        top: 5px;
        cursor: pointer;
    }

    .tag-button {
        margin: 0;
        height: 30px;
        padding: 0px 12px;
        font-size: 11px;
        background: none;
        outline: none;
        border: 2px #a9a8b3 solid;
        cursor: pointer;
        transition: all .5s;
    }

    .orange-button {
        display: flex;
        align-items: center;
        background: #ef5537;
        color: white;
        border: none;
        margin-right: 10px;
        cursor: text;

        img {
            top: 0px;
        }
    }

    .tag-button.orange-button:hover {
        background: #ef5537;
        color: white;
        border: none;
    }

    .tag-button:hover {
        border: 2px #6f7287 solid;
        background: #e4e0eb;
    }
}

// aside element for more filters

.filters-aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 365px;
    background: #FFFFFF;
    box-shadow: -1px 0px 10px #cecece;
    transform: translate(365px, 0px);
    transition: transform .4s;
    z-index: 1;
}

.filters-aside-show {
    transform: translate(0px, 0px);
}

.filters-aside-header {
    border-bottom: 1px #f2f1f5 solid;
    padding: 16px 8px 18px 24px;
    font-size: 17px;
    color: #1e0a3c;
}

.filters-aside-main {
    display: flex;
    flex-direction: column; 
    padding-top: 10px;
    
    .filters-aside-buttons {
        display: flex;
        position: absolute;
        bottom: 15px;
        width: 93%;
        justify-content: space-between;
        padding-right: 5px;
        padding-top: 15px;
        border-top: 1px #eeedf2 solid;
    }

    .button-1 {
        padding-left: 63px;
        padding-right: 63px;
    }

    > * {
        margin: 0px 14px;
    }

}

.index-search-suggestions {
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    border: 1px #f8f7fa solid;
    box-shadow: -2px 3px 10px #e6e6e6;
    z-index: 1;
    overflow: scroll;
    left: -12px;
    top: 45px;

    .index-row {
        cursor: pointer;

        padding: 0px 15px;
        margin-bottom: 20px;
        font-size: 10px;
        align-items: center;

        .index-row-title {
            font-size: 12px;
        }

        .index-row-price {
            display: none;
        }
        
        .index-row-like {
            display: none;
        }

        .index-row-details > * {
            margin-bottom: 3px;
        }   
    }

    .index-row-img {
        width: 70px;
        height: 55px;
    }
}

.search-suggestion-header {
    font-weight: bold;
    padding: 15px;
}

.search-suggestion-row {
    font-size: 13px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
        width: 25px;
        margin-right: 15px;
    }
}

.search-suggestion-label {
    pointer-events: none;
}

