footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #1e0a3d;
    color: #d2d0db;
    height: 54px;
    padding: 0px 24px;
    border: 1px black solid;
    position: absolute;
    top: 2000px;
    width: 100%;
}

footer ul {
    display: flex;
}

footer ul li {
    margin: 0px 12px;
}

footer ul li:nth-of-type(1) {
    list-style: none;
}