$input-border-blue: #1f45e0;
$input-caption-blue: #4b6ae7;
$ticket-button-color: #0D8547;
$search-bar-font-color: #bbb5c4;
$error-red: #c5162d;
$purple: #1e0a3c;

// styled input component
.styled-input {
    width: 320px;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

.styled-input input {
    font-size: 14px;
    width: 94.5%;
    background: transparent;
}

.input-label {
    position: absolute;
    left: 14px;
    top: 18px;
    color: #727589;
    font-size: 13px;
    z-index: -1;
    transition: all .1s;
}

.label-focus {
    top: 8px;
    font-size: 12px;
    color: $input-caption-blue;
}

.input-focus {
    outline: none;
    border: 2px $input-border-blue solid;
    padding-bottom: 0;
    height: 36px;
}

.label-error {
    top: 8px;
    font-size: 12px;
    color: $error-red;
}

.input-error {
    outline: none;
    border: 2px $error-red solid;
    padding-bottom: 0;
    height: 36px;
}

.error-message {
    font-size: 12px;
    margin-top: 4px;
    color: $error-red;
}

// spacer div
.spacer {
    height: 200px;
}

// text editor 
.text-editor {
    width: 40%;
    margin-left: 68px;
    header {
        display: flex;
        justify-content: space-between;
        border: 1px black solid;
        width: 100%;
        height: 40px;
    }
    span {
        cursor: pointer;
    }

    .editor-right {
        display: flex;
        justify-content: space-around;
        width: 10%;
    }

}

// modal 
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #312f42;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 2;
    position: sticky;
}

.modal-pane {
    display: flex;
    width: 55%;
    height: 70%;
    background-color: white;
    z-index: 1;
}

.modal-left {
    width: 65%; 

    .ticket-button {
        background: #d1400c;
        width: 25%;
    }

    .ticket-bar .icons {
        display: none;
    }

    > * {
        padding: 0px 24px;
    }

    header {
        text-align: center;
        font-size: 19px;
        padding-top: 10px;
        height: 8%;
        border-bottom: 1px #f8f8f9 solid;
    }

    main {
        height: 78%;

        .modal-details {
            width: 85%;
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 18px;
                font-weight: bold;
                color: #3d3a52;
            }

            hr {
                width: 100%;
            }
        }
    }

    .ticket-bar {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        margin-right: 150px;
        height: 10%;
        padding: 0;
        border-top: #EEEDF2;
    }


    span {
        font-size: 14px;
        color: #6F7287;
    }

}

.modal-right {
    background-color: #F8F7FA;
    width: 35%;

    img {
        width: 100%;
        height: 30%;
    }

    .order-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2% 8%;
        height: 180px;
        font-size: 14px;

        > div {
            display: flex;
            justify-content: space-between;
            padding: 16px 0px;
        }

        div:nth-of-type(1) {
            font-weight: bold;
        }

        div:nth-of-type(2) {
            border-bottom: 1px #eeedf2 solid;
            color: #656377
        }
    }  

    > div span:nth-of-type(2) {
        display: inline-block;
        width: 45%;
    }
}

.modal-right-image {
    position: relative;

    .close-icon-span {
        position: absolute;
        left: 80%;
        top: 4px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        cursor: pointer;
        background: rgba(248,247,250,.5);
        transition: all .3s;
    }

    .close-icon-span:hover {
        background: rgba(248,247,250,.9)
    }

    .close-icon {
        border-radius: 70px;
        height: 35%;
        margin-top: 15px;
    }
} 

// ticket bar
.ticket-bar {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 60px;
    width: 75%;
    justify-content: space-between;
    border-top: 1px #dbdae3 solid;
    border-bottom: 1px #dbdae3 solid; 
}

.ticket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 44px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: $ticket-button-color;
    margin-right: 20px;
    border-radius: 3px;
    transition: background-color .3s;
    cursor: pointer;
}

.ticket-button:hover {
    background-color: #179C55;
}

// checkbar from dashboard   
.checkbar-selected {
    background-color: white;
}

// splashpage searchbar 
.search-bar {
    display: flex;
    height: 110px;
    margin: auto;
    margin-top: -50px;
    position: relative;
    background-color: $purple;
    justify-content: center;
    color: $search-bar-font-color;
    font-size: 12px;
    font-weight: 0;
    min-width: 1050px;

    > div {
        width: 30%;
        padding: 15px 0 15px 15px;
    }

    div:nth-of-type(2) {
        border-left: 1px white solid;
        border-right: 1px white solid;
    }

    .search-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;
    }

    input, select {
        border: none;
        border-radius: 0;
        border-bottom: 1px #f05537 solid;
        background: $purple;  
        font-size: 18px;
        color: #FFFFFF; 
        width: 85%;
    }

    input:focus {
        outline: none;
    }

    .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
        img {
            width: 60%;
            min-width: 25px;
            max-width: 30%;
            padding: 12% 34%;
            border-radius: 4px;
            background: #d1400c;
            position: relative;
            right: 22px;
        }
    }
}

// filter bar from splash page
.filter-bar {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;

    h1 {
        font-size: 52px;
        font-weight: bold;
        color: $purple;
    }

    select {
        border: none;
        background: #eeedf2;
        display: inline-block;
        background-color: #eeedf2;
        border-radius: 100px;
        width: 110px;
        height: 40px;
        margin: 5px 15px 5px 0px;
        font-size: 13px;
    }
}

