$input-border-blue: #1f45e0;
$input-caption-blue: #4b6ae7;
$ticket-button-color: #0D8547;
$error-red: #c5162d;

// styled input component
.styled-input {
    width: 320px;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

.styled-input input {
    font-size: 14px;
    width: 94.5%;
    // position: absolute;
    background: transparent;
}

.input-label {
    position: absolute;
    left: 14px;
    top: 18px;
    color: #727589;
    font-size: 13px;
    z-index: -1;
    transition: all .1s;
}

.label-focus {
    top: 8px;
    font-size: 12px;
    color: $input-caption-blue;
}

.input-focus {
    outline: none;
    border: 2px $input-border-blue solid;
    padding-bottom: 0;
    height: 36px;
}

.label-error {
    top: 8px;
    font-size: 12px;
    color: $error-red;
}

.input-error {
    outline: none;
    border: 2px $error-red solid;
    padding-bottom: 0;
    height: 36px;
}

.error-message {
    font-size: 12px;
    margin-top: 4px;
    color: $error-red;
}

// spacer div
.spacer {
    height: 100px;
}

// text editor 
.text-editor {
    width: 40%;
    margin-left: 68px;
    header {
        display: flex;
        justify-content: space-between;
        border: 1px black solid;
        width: 186.5%;
    }
    span {
        cursor: pointer;
    }

    .editor-right {
        display: flex;
        justify-content: space-around;
        width: 10%;
    }
}

// modal 
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(57, 54, 79, 0.8)
}

.modal-pane {
    display: flex;
    width: 55%;
    height: 70%;
    background-color: white;
}

.modal-left {
    width: 65%; 

    .ticket-button {
        width: 25%;
    }

    .ticket-bar .icons {
        display: none;
    }

    > * {
        padding: 0px 24px;
    }

    header {
        text-align: center;
        font-size: 19px;
        padding-top: 10px;
        height: 10%;
        border-bottom: #EEEDF2;
    }

    main {
        height: 78%;
    }

    .ticket-bar {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        margin-right: 150px;
        height: 12%;
        padding: 0;
        border-top: #EEEDF2;
    }


    span {
        font-size: 14px;
        color: #6F7287;
    }

}

.modal-right {
    background-color: #F8F7FA;
    width: 35%;

    img {
        width: 100%;
        height: 30%;
    }

    .order-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2% 8%;
        height: 180px;
        font-size: 14px;

        > div {
            display: flex;
            justify-content: space-between;
            padding: 16px 0px;
        }

        div:nth-of-type(1) {
            font-weight: bold;
        }

        div:nth-of-type(2) {
            border-bottom: 1px #eeedf2 solid;
            color: #656377
        }
    }  

    > div span:nth-of-type(1) {
        display: inline-block;
        width: 45%;
    }
}

// ticket bar
.ticket-bar {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 60px;
    width: 75%;
    justify-content: space-between;
}

.ticket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 44px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: $ticket-button-color;
    margin-right: 20px;
    border-radius: 3px;
    transition: background-color .3s;
    cursor: pointer;
}

.ticket-button:hover {
    background-color: #179C55;
}
