$input-border-blue: #1f45e0;
$input-caption-blue: #4b6ae7;
$ticket-button-color: #0D8547;
$search-bar-font-color: #bbb5c4;
$error-red: #c5162d;
$purple: #1e0a3c;

// styled input component
.styled-input {
    width: 320px;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

.styled-input input {
    font-size: 14px;
    width: 100%;
    background: transparent;
}

.input-label {
    position: absolute;
    left: 14px;
    top: 18px;
    color: #727589;
    font-size: 13px;
    z-index: -1;
    transition: all .1s;
}

.label-focus {
    top: 8px;
    font-size: 12px;
    color: $input-caption-blue;
}

.input-focus {
    outline: none;
    border: 2px $input-border-blue solid;
    padding-bottom: 0;
    height: 36px;
}

.label-error {
    top: 8px;
    font-size: 12px;
    color: $error-red;
}

.input-error {
    outline: none;
    border: 2px $error-red solid;
    padding-bottom: 0;
    height: 36px;
}

.error-message {
    font-size: 12px;
    margin-top: 4px;
    color: $error-red;
}

// spacer div
.spacer {
    height: 200px;
}

// details page text editor  
.text-editor {
    width: 40%;
    margin-left: 58px;
    outline: none;
}

// modal 
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #312f42;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 2;
    position: sticky;
}

.modal-pane {
    display: flex;
    width: 800px;
    background-color: white;
    z-index: 1;
}

.modal-left {
    width: 65%; 

    .ticket-button {
        background: #d1400c;
        width: 25%;
    }

    .ticket-bar .icons {
        display: none;
    }

    header {
        text-align: center;
        font-size: 19px;
        padding-top: 10px;
        border-bottom: 1px #f8f8f9 solid;
    }

    main {
        height: 78%;

        .modal-details {
            width: 85%;
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 18px;
                font-weight: bold;
                color: #3d3a52;
            }

            hr {
                width: 100%;
                margin: 30px auto 10px auto;
            }
        }
    }

    .ticket-bar {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        margin-right: 150px;
        padding: 0;
        border-top: #EEEDF2;
    }


    span {
        font-size: 14px;
        color: #6F7287;
    }

}

.modal-right {
    background-color: #F8F7FA;
    width: 35%;

    img {
        width: 100%;
        height: 30%;
    }

    .order-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2% 8%;
        height: 180px;
        font-size: 14px;

        > div {
            display: flex;
            justify-content: space-between;
            padding: 16px 0px;
        }

        div:nth-of-type(1) {
            font-weight: bold;
        }

        div:nth-of-type(2) {
            border-bottom: 1px #eeedf2 solid;
            color: #656377
        }
    }  

    > div span:nth-of-type(2) {
        display: inline-block;
        width: 45%;
    }
}

.modal-right-image {
    position: relative;
} 

.close-icon-span {
    position: absolute;
    left: 80%;
    top: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    background: rgba(248,247,250,.5);
    transition: all .3s;
}

.close-icon-span:hover {
    background: rgba(248,247,250,.9)
}

.close-icon {
    border-radius: 70px;
    height: 30%;
    margin-top: 15px;
}

// ticket bar
.ticket-bar {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 60px;
    width: 75%;
    justify-content: space-between;
    border-top: 1px #dbdae3 solid;
    border-bottom: 1px #dbdae3 solid; 

    .heart-icon {
        padding: 10px;
        border-radius: 30px;
        transition: background .3s;
    }

    .heart-icon:hover {
        background: #f8f7fa;
    }
}

.ticket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 44px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: $ticket-button-color;
    margin-right: 20px;
    border-radius: 3px;
    transition: background-color .3s;
    cursor: pointer;
}

.ticket-button:hover {
    background-color: #179C55;
}

// checkbar from dashboard   
a.checkbar-selected {
    background-color: white;
    color: #000000;
    font-weight: bold;
}

// splashpage searchbar 
.search-bar {
    display: flex;
    height: 90px;
    margin: auto;
    margin-top: -50px;
    position: relative;
    background-color: $purple;
    justify-content: center;
    color: $search-bar-font-color;
    font-size: 12px;
    font-weight: 0;

    > div {
        width: 30%;
        padding: 10px 0 15px 10px;
    }

    .search-section:nth-of-type(2) {
        border-left: 1px white solid;
        border-right: 1px white solid;
    }

    .search-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;
    }

    input, select {
        border: none;
        border-radius: 0;
        border-bottom: 1px #f05537 solid;
        background: $purple;  
        font-size: 18px;
        color: #FFFFFF; 
        width: 85%;
    }

    .styled-select-container .styled-select:focus {
        background: none;
        // border-bottom: 1px #f05537 solid;
    }
    
    .styled-select {
        height: 22px;
        margin-bottom: 0;
        padding-left: 2px;
    }

    .styled-select-container img {
        right: 50px;
        top: 0px;
    }

    input:focus {
        outline: none;
    }

    .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
        img {
            width: 60%;
            min-width: 25px;
            max-width: 30%;
            padding: 12% 34%;
            border-radius: 4px;
            background: #d1400c;
            position: relative;
            top: 8px;
            right: 22px;
            cursor: pointer;
            transition: background .3s;
        }
        img:hover {
            background: #f05437;
        }
    }

    .search-bar-input-location {
        cursor: default;
    }
    
    .search-bar-input-location:focus {
        color: transparent;
        text-shadow: 0px 0px 0px #FFFFFF;
    }
}

// filter bar from splash page
.filter-bar {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;

    h1 {
        font-size: 45px;
        font-weight: bold;
        color: $purple;
    }

    select {
        border: none;
        background: #eeedf2;
        display: inline-block;
        background-color: #eeedf2;
        border-radius: 100px;
        margin: 5px 15px 5px 0px;
        font-size: 13px;
    }

    .styled-select {
        width: 100px;
        height: 33px;
        border-radius: 20px;
    }

    .styled-select:focus {
        border: none;
    }

    .styled-select:hover {
        border: none;
    }

    .tag-button {
        background: #ef5537;
        color: white;
    }
}

// popup menu from event dashboard home
.popup-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 115px;
    width: 200px;
    background: #FFFFFF;
    border: 1px #eaeaeb solid;
    box-shadow: 0px 0px 15px #d9d9d9;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.popup-menu-button {
    background: #FFFFFF;
    height: 45%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.popup-menu-button:hover {
    background: #f8f7fa;
}

.menu-icon-span {
    display: inline-block;
    position: relative;
    height: 40%;
    width: 20px;
    cursor: pointer;
}

// message bar
.message-bar {
    width: 82%;
    height: 45px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f7fa;
    position: fixed;
    padding: 0px 20px;
    top: 0px;
    left: 8%;
    transform: translate(0px, -50px);
    transition: all .5s;
    z-index: 2;

    span:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        width: 150px;
        align-items: center;
    }

    .close-icon-span {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
        position: initial;

        img {
            position: relative;
            bottom: 1px;
        }
    }

    .close-icon-span:hover {
        background: white;
    }
}

.message-bar-show {
    transform: translate(0px, 0px);
}

// styled select component

.styled-select-container {
    position: relative;

    .styled-select:focus {
        background: #e3e1ea;
    }

    img {
        position: absolute;
        right: 15px;
        top: 12px;
        height: 20px;
        pointer-events: none;
    }
}

.styled-select:focus {  
    box-sizing: border-box;
    // border: 2px $input-border-blue solid;
}

.styled-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    // position: absolute;
    width: 330px;
    height: 46px;
    appearance:none;
    background: transparent;
    border: 1px #dbdae3 solid;
    border-radius: 0px;
    margin-bottom: 8px;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    transition: border .2s;
}

// tag-button
.tag-button {
    display: inline-block;
    background-color: #f8f7fa;
    padding: 8px 12px;
    border-radius: 18px;
    margin-right: 15px;
    margin: 5px 15px 5px 0px;
    font-size: 13px;
    
    img {
        width: 12px;
        cursor: pointer;
        position: relative;
        top: 1px;
        margin-left: 10px;
    }
}

// event card button
.event-card-button:hover {
    transition: background .3s;
    background: #f8f7fa;
}

// event card picture
.event-card-picture-container {
    position: relative;
}

.free-tag {
    position: absolute;
    background: #FFFFFF;
    box-shadow: -2px 3px 10px #a6a6a6;
    padding: 12px 35px;
    border-radius: 5px;
    top: 10px;
    right: -10px;
    font-size: 13px;
    color: #4b4d62;
}


