.navbar {
    display: flex;
    border: 1px black solid;
    justify-content: space-between;
}

h1 {
    float:left;
    padding: 20px;
}

.navbar-right {
    border: 1px black solid;
    float: right;
}

.navbar a {
    display: inline-block;
    padding: 20px;
    margin: 0;
}