$navbar-background: #39364f;
$navbar-text: #c2c2cc;

.navbar {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    font-family: Helvetica;
    background-color: $navbar-background;
    color: $navbar-text;

    .logo {
        width: 130px;
        height: 38px;
        position: relative;
        left: 10px;
        top: 3px;
    }
    li:hover {
        color: #5d5e6f;
    }   
    h1 {
        float:left;
        padding: 20px;
    }
    a {
        display: inline-block;
    }   
    div:nth-of-type(1) {
        display: flex;
        align-items: center;
    }
}

.navbar-right {
    float: right;

    .btn:hover {
        color: white;
    }

    > a {
        padding: 30px 15px;
    }

}


// navbar profile dropdown menu
.profile-dropdown {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: #7c76a2;
    font-size: 14px;
    position: absolute;
    right: 0px;
    border: 1px #f8f7fa solid;
    box-shadow: -2px 3px 10px #b3b3b3;
    background: white;
    z-index: 3;

    span:nth-of-type(1) {
        border: none;
    }

    span:nth-of-type(2) {
        border-top: none;
    }

    > * {
        border-top: .1px #f1eff5 solid;
        border-bottom: .1px #f1eff5 solid;
        padding: 20px;
        cursor: pointer;
    }

    > :hover {
        background: #f1f1f3;
    }

}

.dropdown-logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
}


.display {
    display: visible;
}

.display-none {
    display: none;
}