$navbar-background: white;
$navbar-text: #717388;

.navbar {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    font-family: Helvetica;
    background-color: $navbar-background;
    color: $navbar-text;
    border-bottom: 1px #f2f1f5 solid;

    .logo {
        width: 130px;
        height: 38px;
        position: relative;
        left: 10px;
        top: 3px;
    }
    li:hover {
        color: #5d5e6f;
    }   
    h1 {
        float:left;
        padding: 20px;
    }
    a {
        display: inline-block;
    }   
    div:nth-of-type(1) {
        display: flex;
        align-items: center;
    }
}

.navbar-right {
    float: right;

    .btn:hover {
        color: #3d3a52;
    }

    > a {
        padding: 20px 20px
    }

    .sign-out-logo {
        padding: 8px;
        padding-right: 16px;
    }

    .create-event {
        color: #3c64ff;
    }

    .create-event:hover {
        color: #3c64ff;
    }

}


// navbar profile dropdown menu
.profile-dropdown {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: #7c76a2;
    font-size: 14px;
    position: absolute;
    right: 0px;
    border: 1px #f8f7fa solid;
    box-shadow: -2px 3px 10px #e6e6e6;
    background: white;
    z-index: 3;

    span:nth-of-type(1) {
        border: none;
    }

    span:nth-of-type(2) {
        border-top: none;
    }

    > * {
        border-top: .1px #f1eff5 solid;
        border-bottom: .1px #f1eff5 solid;
        padding: 20px;
        cursor: pointer;
    }

    > :hover {
        background: #f1f1f3;
    }

}

.dropdown-logo {
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50px;
    background: #edecef;
    object-fit: contain;
}


.display {
    display: visible;
}

.display-none {
    display: none;
}