.navbar {
    display: flex;
    border: 1px black solid;
    font-size: 14px;
    justify-content: space-between;
    background-color: #39364f;
    color: #787a8f;
}

.navbar a:hover {
    color: #5d5e6f;
}

.navbar h1 {
    float:left;
    padding: 20px;
}

.navbar-right {
    border: 1px black solid;
    float: right;
}

.navbar a {
    display: inline-block;
    padding: 20px;
    margin: 0;
}