$error-red: #c5162d;

.session-form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form {
    p {
        font-size: 13px;
    }
    .greeting {
        display: flex;
        padding-top: 17px;
    }
    .greeting p {
        color: #6F7287;
        margin-top: 10px;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    span {
        width: 300px;
        text-align: center;
        font-size: 12px;
        margin: 25px auto;
        line-height: 20px;
    }
    .input-caption {
        top: 35px;
    }
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    input {
        // margin-top: 20px;
        padding: 12px;
        height: 25px;
        font-size: 13px;
        outline: none;
        transition: border .2s;
    }

    input[type="submit"] {
        height: 46px;
        width: 330px;
        background-color: rgb(209, 65, 12);
        border-radius: 5px;
        color: white;
        font-size: 13px;
        margin-top: 30px;
        cursor: pointer;
    }
    a {
        margin: 15px auto;
        font-size: 14px;
        color: #3659E3;
    }
    a:hover {
        text-decoration-line: underline;
        color: #4b6ae7;
    }
    input[placeholder="First Name"] {
        width: 130px;
    }
    input[placeholder="Last Name"] {
        width: 130px;
    }
    .input-caption {
        left: -2px;
    }
    .input-caption + input {
        padding-top: 25px;
        height: 13px;
    }
}

.first-last-name {
    display: flex;
    
    div {
        width: 42%;
    }

    div:nth-of-type(2) {
        margin-left: 10%;
    }
}

.greeting-icon {
    height: 70px;
    width: 70px;
}

.form-error {
    height: 0;
    display: flex;
    position: relative;
    bottom: 22px;
    right: 15px;
}

.display {
    display: visible;
}

.display-none {
    display: none;
}

// inputs that do not include the style email input
.signup-div {
    display: flex;
    flex-direction: column;
    height: 205px;
    justify-content: space-between;
}

.password-div {
    margin-top: 20px;
}

