.session-form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form .greeting {
    display: flex;
    padding-top: 17px;
}

.session-form .greeting p {
    color: #6F7287;
    margin-top: 10px;
}

.session-form h2 {
    font-size: 24px;
    font-weight: bold;
}

.session-form p {
    font-size: 13px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 25px;
    padding: 12px;
    width: 300px;
    height: 20px;
}

form input[type="submit"] {
    height: 46px;
    width: 330px;
    background-color: rgb(209, 65, 12);
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.greeting-icon {
    height: 70px;
    width: 70px;
}

