.session-form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form .greeting {
    display: flex;
    padding-top: 17px;
}

.session-form .greeting p {
    color: #6F7287;
    margin-top: 10px;
}

.session-form h2 {
    font-size: 24px;
    font-weight: bold;
}

.session-form p {
    font-size: 13px;
}

.session-form span {
    width: 300px;
    text-align: center;
    font-size: 12px;
    margin: 25px auto;
    line-height: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 30px;
    padding: 12px;
    width: 300px;
    height: 25px;
    font-size: 13px;
    outline: none;
    transition: border .2s;
}

form input[type="text"] {
    border: 2px solid #dbdae3;
}

form input[type="submit"] {
    height: 46px;
    width: 330px;
    background-color: rgb(209, 65, 12);
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

form input:focus {
    border: 2px solid #1f45e0;
}

form a {
    margin: 15px auto;
    font-size: 14px;
    color: #3659E3;
}

form a:hover {
    text-decoration-line: underline;
    color: #4b6ae7;
}

.first-last-name {
    display: flex;
    justify-content: space-between;
}

form input[placeholder="First Name"] {
    width: 130px;
}

form input[placeholder="Last Name"] {
    width: 130px;
}

.greeting-icon {
    height: 70px;
    width: 70px;
}

