.splash-banner {
    width: 100%;
    top: -200px;
}

.events-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-card {
    width: 32%;
    border-radius: 3px;
    margin-bottom: 2%;

    .event-card-picture {
        height: 190px;
        background-size: cover;
        border-radius: 5px;
    }

    .event-card-details {
        height: 150px;
        padding-top: 5px;

        .card-buttons {
            text-align: right;
            margin-right: 10px;
            position: relative;
            bottom: 25px;
            height: 0px;
            margin-bottom: 20px;

            .event-card-button {
                width: 40px;
                height: 40px;
                margin: 0 5px;
                border-radius: 40px;
                border: 1px #efeef3 solid;
                outline: none;
                cursor: pointer;
                
                .card-button-img {
                    width: 18px;
                }
            }
             
        }
        .date-span {
            width: 20%;
            height: 75px;
            text-align: center;

            .month {
                display: block;
                color: #f16349;
            }
            .date {
                display: block;               
                color: #6f7287;
                margin-top: 4px;
            }
        }
        .card-details {
            width: 80%;
            display: flex;
            flex-direction: column;

            .card-title {
                font-size: 18px;
                font-weight: bold;
            }

            > span {
                margin-top: 5px;
                color: #76798d;
                font-size: 12px;
            }
        }
    }

    .event-card-details:hover {
        background: #FFFFFF;
    }
}

.event-card:hover {
    box-shadow: -2px 3px 10px #d9d9d9;
    transition: box-shadow .2s;
}

.splash-content {
    margin: auto;
    width: 87%;
    max-width: 1080px;
}

.more-events-div {
    text-align: center;
}

.more-events-link {
    font-size: 20px;
    border-bottom: 4px #ef5537 solid;
    cursor: pointer;
}

.more-events-link:hover {
    color: #ef5537;
}

.filter-bar-select-span {
    display: flex;

    div:nth-of-type(2) select {
        width: 120px;
    }

    .styled-select-container img {
        right: 22px;
    }

    .tag-button img {
        top: 2px;
    }
}